VeloxChem.xcodeproj
bin
build
*.d
*.o
*.a
*.optrpt
*.out
*.log
*.pyc
*.cube
*.gcno
*.gcda
.*.swp
*~
dummy.*
__pycache__
venv*
htmlcov
.coverage
.vscode
Makefile.setup
veloxchem.egg-info
/.ccls-cache/
