.DS_Store
build/
VeloxChem.xcodeproj/
*~
*.d
*.o
*.a
__pycache__
.coverage
.vs
*.optrpt
*.opt.yaml
veloxchem.egg-info
_skbuild
vlx.sh

dependencies
vlxenv/
.venv/
env.sh
run_Q_and_QD.py
*.inp
*.scf.h5
*.scf.results.h5
*.xyz
*.csv
validation/
performance/
*.ncu-rep
*.nsys-rep
*.sqlite
collect_ncu_sections.sh
draft.cu
test_thr.py
src/Makefile.setup